body{
  background-color: lemonchiffon;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
   width: 750px; 
  height: 750px;
  margin: 10px;
}

.row{
  flex: 1 1 auto;
  display: flex;
  justify-content: space-between;
  border-width: 1px; 
}

.box{
  flex: 1 1 auto;
  border-style: solid;
  border-width: 0.5px;
  border-color: rgba(128, 128, 128, 0.30);
}